h1{
    /*text-align: center;*/
}

.header-wrapper{
    margin-bottom: 3rem;
}
.video-wrapper{
    margin: 6em 0;
}
.intro-text{
    font-size: 0.9em;
    height: 4.5em;
    line-height: 1.4em;
    position: relative;
    margin-bottom: 1.4em;

}
.hide-text{
    overflow: hidden;
    margin-bottom: 0;
}
.seeMoreBtn-wrapper{
    text-align: center;

}
.seeMoreBtn{
    color: #aaa;
    background-color: transparent;
    border-radius: 40%;
    border: none;
    font-size: 1em;
    transition: all .3s ease-out;

}
.seeMoreBtn:hover{
    color: lemonchiffon;
    cursor: pointer;
}

.sub-title{
    /*text-align: center;*/
}
.about{
    position: relative;
    margin: 1.5em 0;
}
.about::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    border-bottom: 1px solid #fff;
    width: 100%;
}
.service-wrapper{
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
        color: #aaa !important;
        margin-bottom: 0.5rem;
    }
}
.copyright{
    margin-top: 2rem;
    text-align: center;
}